<div id="container">
  Hi, my name is Asaf Malin (in Wikipedia: Uziel302), and I am the creator and maintainer of the project.
  <br>
  The project aims to help editors correct probable typos across Wikipedia, and some sister projects.
  <br>
  The project started as a page within Wikipedia, where I used to put lists of suspect words with some context, and a script within Wikipedia helped users treat the typos from the list, with one click.
  <br>
  I recently got fired and I am looking for ways to create software that will help the world. Moving to a separate website will allow me more flexibility in introducing new features.
  <br>
  The main method I used to detect words that might be typos is by generating words with edit distance of 1 from real words, then look for those words in the dumps of Wikipedia.
  <br>
  The edit area consists of the following parts: 
  <br>
  The suspect word, along with an offer for replacement.
  <br>
  The article in which the word was found.
  <br>
  The surrounding context where the suspect error was found on the given page.
  <br>
  <br>
  Please feel free to contact me on <a href="https://en.wikipedia.org/wiki/User_talk:Uziel302" target="_blank">my talk page in Wikipedia</a>, any feedback is much appreciated.
</div>