#container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  margin-left: 50px;
}

.typo-container {
  text-align: left;
  font-size: 25px;
  width: 70%;
}

.replacement, .replacement input {
  font-size: 35px;
  font-family: 'Arial';
}

.action-buttons {
  display: flex;
}

.action-button {
  margin: 10px 10px 10px 0;
  font-size: 30px;
}

#process-container {
  text-align: left;
}