#container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
}

.typo-container {
  text-align: left;
  font-size: 25px;
}

.replacement,
.replacement input {
  font-size: 35px;
  font-family: "Arial";
}

.action-buttons {
  display: flex;
}

.action-button {
  margin: 10px 0;
  font-size: 25px;
}

#process-container {
  text-align: left;
}

.action-buttons.wide-none {
  justify-content: space-between;
}

.narrow-none .action-button {
  margin-right: 10px;
}

@media screen and (min-width: 1421px) {
  .wide-none {
    display: none !important;
  }

  #container{
    margin: 50px;
  }
}

@media screen and (max-width: 1420px) {
  .narrow-none {
    display: none !important;
  }
}
