#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.typo-container {
  text-align: left;
  font-size: 25px;
}

.replacement {
  font-size: 35px;
}
