#container {
  font-family: "Open Sans";
}

.typo-container {
  font-size: 25px;
}

.replacement,
.replacement input {
  font-size: 35px;
  font-family: "Open Sans";
}

.action-buttons {
  display: flex;
}

.action-button {
  margin: 10px 0;
  font-size: 25px;
  font-family: "Open Sans";
}

.action-buttons.wide-none {
  justify-content: space-between;
}

.narrow-none .action-button {
  margin-right: 10px;
}

#type-button {
  font-size: 35px;
  margin-left: 20px;
}

#suspect-in-context, #correction-in-context {
  font-weight:600;
  background: #feeec8;
  border-radius: 0.33em;
  padding: 0.25em 0;
}

#correction-in-context {
  background: #d8ecff;
}

@media screen and (min-width: 1421px) {
  .wide-none {
    display: none !important;
  }

  #container {
    margin: 50px;
  }

  #text-part{
    min-height: 200px;
  }
}

@media screen and (max-width: 1420px) {
  .narrow-none {
    display: none !important;
  }

  .replacement,
  .replacement input {
    font-size: 25px;
  }

  .context-before, .context-after{
    font-size: 20px;
  }

  h1 {
    font-size: 28px;
  }

  #text-part{
    min-height: 400px;
  }
}
