#container {
  font-family: "Open Sans";
}

.typo-container {
  font-size: 25px;
}

.replacement,
.replacement input {
  font-size: 35px;
  font-family: "Open Sans";
}

.action-buttons {
  display: flex;
}

.action-button {
  margin: 10px 0 0 0;
  font-size: 25px;
  font-family: "Open Sans";
}

.action-buttons.wide-none {
  justify-content: space-between;
}

.narrow-none .action-button {
  margin-right: 10px;
}

#type-button {
  font-size: 35px;
  margin-left: 20px;
}

#context-block {
  outline: -webkit-focus-ring-color auto 1px;
  white-space: pre-wrap;
  line-height: 120%;
  font-family: monospace;
}

#suspect-in-context,
#correction-in-context {
  font-weight: 600;
  background: #feeec8;
  border-radius: 10px;
  padding: 1px 0;
}

#correction-in-context {
  background: #d8ecff;
}

textarea {
  width: 100%;
  height: 200px;
  font-size: 25px;
}

@media screen and (min-width: 901px) {
  .wide-none {
    display: none !important;
  }

  #container {
    margin: 50px;
  }

  #text-part {
  }
}

@media screen and (max-width: 900px) {
  .narrow-none {
    display: none !important;
  }

  .replacement,
  .replacement input {
    font-size: 25px;
  }

  #context-block {
    font-size: 20px;
  }

  h1 {
    font-size: 28px;
  }

  #text-part {
  }
}

.dismiss-type {
  font-size: 12px;
}