<div id="container">
  <h1>Correct a typo in one click</h1>
  <h2>
    A new version of a Wikipedia project by the same name, aimed to correct
    typos in Wikipedia.
  </h2>

  <div *ngIf="!typosService.suspectWord.suspect" class="edit-error">
    {{ typosService.errorMessage }}
  </div>

  <div class="typo-container" *ngIf="typosService.suspectWord.suspect">
    <div id="text-part">
      <div class="replacement">
        {{ typosService.suspectWord.suspect }} →
        <input [(ngModel)]="typosService.suspectWord.correction"/>
        <button id="type-button" (click)="prompt()">Type</button>
      </div>
      <div class="title">
        found in:
        <a
          [attr.href]="linkify(typosService.suspectWord.title)"
          target="_blank"
          >{{ typosService.suspectWord.title }}</a
        >
      </div>
      <div class="context-before">
        context: 
        {{ typosService.suspectWord.contextBefore }}
      </div>
      <div class="context-after">
        <b style="font-weight:600">{{ typosService.suspectWord.suspect }}</b>
        {{ typosService.suspectWord.contextAfter }}
      </div>
    </div>
    
    <div id="buttons-part">
      <div class="action-buttons narrow-none">
        <button class="action-button" [disabled]="!loginService.username" (click)="replace()">Replace</button>
        <button class="action-button" [disabled]="!loginService.username" (click)="dismiss()">Dismiss</button>
        <button class="action-button" [disabled]="!loginService.username" (click)="skip()">Skip</button>
        <button class="action-button action-template" [disabled]="!loginService.username" (click)="template()">
          Add typo template
        </button>
      </div>
  
      <div class="action-buttons wide-none">
        <button class="action-button" [disabled]="!loginService.username" (click)="skip()">Skip</button>
        <button class="action-button action-template" [disabled]="!loginService.username" (click)="template()">
          Add typo template
        </button>
      </div>
      <div class="action-buttons wide-none">
        <button class="action-button" [disabled]="!loginService.username" (click)="replace()">Replace</button>
        <button class="action-button" [disabled]="!loginService.username" (click)="dismiss()">Dismiss</button>
      </div>
      <div class="edit-error">{{ typosService.errorMessage }}</div>
    </div>

  </div>
  <br />
  <div id="process-container">
    <div
      class="proccess-suspect"
      *ngFor="let process of typosService.suspectsInProcess"
    >
      {{ process.suspect }} => {{ process.correction }} in
      <a [attr.href]="typosService.getLink(process)" target="_blank">{{
        process.title
      }}</a>
      <br />
      <div *ngIf="!process.responseLink">
        {{ process.response ? process.response : "In process" }}
      </div>
      <a
        *ngIf="process.responseLink"
        [attr.href]="process.responseLink"
        target="_blank"
        >{{ process.response }}</a
      >
    </div>
  </div>
</div>
