<div id="container">
  <h1>Correct a typo in one click</h1>
  <h2>
    A new version of a Wikipedia project by the same name, aimed to correct
    typos in Wikipedia.
  </h2>
  Project: 
  <select [(ngModel)]="typosService.project" (change)="typosService.changeProject()">
    <option value="en.wikipedia">English Wikipedia</option>
    <option value="fr.wikipedia">French Wikipedia</option>
    <option value="es.wikipedia">Spanish Wikipedia</option>
    <option value="de.wikipedia">German Wikipedia</option>
    <option value="ru.wikipedia">Russian Wikipedia</option>
    <option value="en.wikivoyage">English Wikivoyage</option>
    <option value="fr.wikivoyage">French Wikivoyage</option>
    <option value="es.wikivoyage">Spanish Wikivoyage</option>
    <option value="de.wikivoyage">German Wikivoyage</option>
    <option value="ru.wikivoyage">Russian Wikivoyage</option>
  </select>
  <br><br>

  <div *ngIf="!typosService.suspectWord.suspect" class="edit-error">
    {{ typosService.errorMessage }}
  </div>

  <div class="typo-container" *ngIf="typosService.suspectWord.suspect">
    <div id="text-part">
      <div class="replacement">
        {{ typosService.suspectWord.suspect }} →
        <input [(ngModel)]="typosService.suspectWord.correction" (input)="typosService.generateContext()"/>
        <button id="type-button" (click)="prompt()">Type</button>
      </div>
      <div class="title">
        found in:
        <a
          [attr.href]="linkify(typosService.suspectWord.title)"
          target="_blank"
          >{{ typosService.suspectWord.title }}</a
        >
      </div>
    </div>

    <div id="buttons-part">
      <div class="action-buttons narrow-none">
        <button
          class="action-button"
          [disabled]="!loginService.username"
          (click)="dismiss()"
        >
          Dismiss
        </button>
        <button
          class="action-button"
          [disabled]="!loginService.username"
          (click)="skip()"
        >
          Skip
        </button>
        <button
          class="action-button"
          [disabled]="!loginService.username"
          (click)="replace()"
        >
          Replace
        </button>
        <button
          class="action-button action-template"
          [disabled]="!loginService.username"
          (click)="template()"
        >
          Add typo template
        </button>
        <button
          class="action-button"
          (click)="toggleContext()"
        >
        {{contextCopy}}
        </button>
      </div>

      <div class="action-buttons wide-none">
        <button
          class="action-button"
          [disabled]="!loginService.username"
          (click)="skip()"
        >
          Skip
        </button>
        <button
          class="action-button action-template"
          [disabled]="!loginService.username"
          (click)="template()"
        >
          Add typo template
        </button>
        <button
          class="action-button"
          (click)="toggleContext()"
        >
        {{contextCopy}}
        </button>
      </div>
      <div class="action-buttons wide-none">
        <button
          class="action-button"
          [disabled]="!loginService.username"
          (click)="replace()"
        >
          Replace
        </button>
        <button
          class="action-button"
          [disabled]="!loginService.username"
          (click)="dismiss()"
        >
          Dismiss
        </button>
      </div>
      <div class="edit-error">{{ typosService.errorMessage }}</div>
      <div *ngIf="!this.editContext">
        replacement in context:
        <div id="context-block">
          <span id="contextBefore">{{
            typosService.suspectWord.contextBefore
          }}</span
          ><b id="suspect-in-context">{{ typosService.suspectWord.suspect }}</b
          >&nbsp;<b id="correction-in-context">{{
            typosService.suspectWord.correction
          }}</b
          ><span id="contextAfter">{{
            typosService.suspectWord.contextAfter
          }}</span>
        </div>
      </div>
      <div *ngIf="this.editContext">
        editable context:
        <textarea [(ngModel)]="typosService.suspectWord.fullContext"
          ></textarea
        >
      </div>
    </div>
  </div>
  <br />
  <div id="process-container">
    <div
      class="proccess-suspect"
      *ngFor="let process of typosService.suspectsInProcess"
    >
      {{ process.suspect }} => {{ process.correction }} in
      <a [attr.href]="typosService.getLink(process)" target="_blank">{{
        process.title
      }}</a>
      <br />
      <div *ngIf="!process.responseLink">
        {{ process.response ? process.response : "In process" }}
      </div>
      <a
        *ngIf="process.responseLink"
        [attr.href]="process.responseLink"
        target="_blank"
        >{{ process.response }}</a
      >
    </div>
  </div>
</div>
